@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('Open-Sans'),
         url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('Open-Sans-Light'),
         url('../fonts/opensanslight.woff2') format('woff2'),
         url('../fonts/opensanslight.woff') format('woff');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    src: local('Gilroy Light'), local('Gilroy-Light'),
         url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    src: local('Gilroy Extra Bold'), local('Gilroy-Extra-Bold'),
         url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-display: swap;
  }

:root {
	--basic-black: #000000;
	--special-yellow: #F7E296;
	--special-yellow-light: #F7E296;
	--special-yellow-dark: #F0C52E;
	--basic-dark: #363636;
	--basic-white: #FFFFFF;
	--basic-grey-light: #E5E5E5;

}

.page {
	height: 100%;
}

.page_body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

/*.page-catalog {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.page-catalog .popular_title {
  grid-column: 1 / -1;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.page-catalog .breadcrumbs {
  outline: 5px solid rgba(0, 0, 255, 0.7);
  outline-offset: -5px;
}

.product_filter {
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
}*/

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.main_header_navigation {
	background-color: var(--special-yellow);
	display: grid;
	height: 300px;
}

.main_header {
	display: grid;
} 

.main_header_navigation .main_header_logo {
	width: 163px;
	height: 35px;
	display: block;
}

.main_header_logo {
	background: url("../img/logo/logo.svg");
}

.main_header_logo:hover {
	background: url("../img/logo/logo.svg");
	opacity: 50%;
}

.main_header_logo:active {
	background: url("../img/logo/logo.svg");
	opacity: 15%;
}

/*.navigation_user_list_item:before {
	content: "";
	position: absolute;
	left: -15px;
	width: 9px;
	height: 9px;
	background-image: url("img/icons/search.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}*/

.search_website {
	font-family: "OpenSans","Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.3);
	background-color: var(--special-yellow);
}

.navigation_user_list:first-child {
	color: rgba(0, 0, 0, 0.3);
}

.navigation_user_list_link{
	color: var(--basic-black);
}

.navigation_user_list_link:hover {
	color: rgba(0, 0, 0, 0.5);
}

.navigation_user_list_link:active {
	color: rgba(0, 0, 0, 0.1);
}

.navigation_user_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial, "sans-serif";
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;

}

/*.navigation_searh {
	width: 12.47px;
	height: 47px;
	background: url("../img/icons/search.svg")no-repeat;
}*/

.navigation_services_list li a {
	color: var(--basic-black);
}

.navigation_services_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.navigation_services_list:first-child {
	padding: 324px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.slider_title {
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	color: var(--basic-black);
}

.slider_text {
	font-family: "Open Sans", Arial, "sans-serif";
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--basic-black);
}

.button {
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	background-color: var(--special-yellow-dark);
	color: var(--basic-black);
	display: inline-block;
}

.button_map {
	margin-top: 85px;

}

.button_about {
	margin-top: 84px;
}

.slider_termin {
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.slider_definition {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.popular_wrap {
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	color: var(--basic-black);
}

.popular_list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 40px;
}

.popular_list li {
	height: 160px;
	width: 160px;
	background: var(--special-yellow-light)
	url("img/popular/popular-1.svg") 160px 160px no-repeat;
}

/*.popular_item:before {
	content: "Виртуальная реальность";
	position: absolute;
	width: 124px;
	height: 44px;
}*/

.services.delivery {
	/*width: 136px;
	height: 164px;
	background: url("../img/icons/delivery_2.svg") no-repeat;*/
}

.services.warranty {
	/*width: 171px;
	height: 195px;
	background: url("../img/icons/warranty_1.svg") no-repeat;*/
}

.services.credit {
	/*width: 156px;
	height: 188px;
	background: url("../img/icons/credit_1.svg") no-repeat;*/
}

.services {
	width: 100%;
	height: 288px;
	background: var(--basic-grey-light)
}

.services_item {
	
}

.services_title:before {
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
	color: var(--basic-black);
	width: 279px;
	height: 58px;
	left: 300px;
	display: block;
}

.services_text {
	font-family: "Open Sans", Arial, "sans-serif";
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;"
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.brands {
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 40px;
	margin: 0;
	padding: 0;
}

.brands_wrap {
	margin: 90px 0px 90px 0px;
}

.brands_link {
	width: 260px;
	height: 100px;
}

.brands_link:hover {
	filter: grayscale(100%);
}

.about_info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 140px 0 140px;
}

.about {
	width: 473px;
	margin-right: 127px;
}

.info_title {
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
	color: var(--basic-black);
}

.info_text {
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 0.2em;
	color: var(--basic-black);
}

.info_list {
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 28px;
	color: var(--basic-black);
}

.social_button_wrap {
	width: 136px;
	height: 32px;
	display: flex;
	justify-content: space-between;
	margin: 67px auto 0px;
}

.address_text {
	font-family: "Open Sans", Arial, "sans-serif";
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--basic-white);
}
.phone.phone_link {
	font-family: "Open Sans", Arial, "sans-serif";
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--basic-white);
}

.phone {
	display: flex;
	margin-top: 73px;
}

.footer_logo_htmlacademy {
	margin: 68px 0px 64px;
}

.main_footer {
	background-color: var(--basic-dark);
	margin-top: 86px;
	padding: 46px 0px 65px 0px;
}

.footer_link  {
	color: var(--basic-white);

}

.navigation_services_list_footer {
	margin: 0;
	padding: 0;
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	margin-top: 138px;
	width: 423px;
	height: 22px;
}

.container_footer {
	display: grid;
	width: 1150px;
	margin: 0 auto;
    padding: 0 10px;
    grid-template-columns: repeat(3, 1fr);
}

.footer_col_2 {
	margin-right: 46px;
}

.navigation_user_list_footer {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial, "sans-serif";
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	widows: 352px;
	height: 20px;
	display: flex;
	justify-content: space-between;
}

.address_text {
	display: block;
	padding:  40px 0px 60px 0px;
}

/*Каталог*/

.product_filter {
	background-color: var(--basic-grey-light);
	font-family: "Open Sans", Arial, "sans-serif";
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: var(--basic-black);
}

.product_filter fieldset h3 {
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
}

.product_filter fieldset input{
	font-weight: normal;
}

.product {
	display: grid;
	grid-template-areas: 
	"filter_item filter_item"
	"filter_item filter_item";
	padding: 0px;
}

.item_catalog {
	display: grid;
	grid-template-columns: 1fr;
}

.product_name {
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: var(--basic-black);
}

.product_price {
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	color: var(--basic-black);
}

.button1 {
	font-family: "Open Sans", Arial, "sans-serif";
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.popular_title {
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	color: var(--basic-black);
}

.breadcrumbs {
	font-family: "Open Sans", Arial, "sans-serif";
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: var(--basic-black);
	opacity: 0.3;
}

.pagination button {
	font-family: Gilroy, Arial, "sans-serif";
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--basic-black);
	background-color: #EBEBEB;
}

.pagination {
	background-color: #EBEBEB;
}