@font-face {
font-family: Gilroy, Open Sans;
font-style: normal;
font-weight: 800;
src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
	url("../fonts/gilroyextrabold.woff") format("woff"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff"),
	url("../fonts/opensanslight.woff2") format("woff2"),
	url("../fonts/opensanslight.woff") format("woff");
}

:root {
	--basic-black: #000000;
	--special-yellow: #F7E296;
	--special-yellow-light: #F7E296;
	--special-yellow-dark: #F0C52E;
	--basic-dark: #363636;
	--basic-white: #FFFFFF;
	--basic-grey-light: #E5E5E5;

}

.page {
	height: 100%;
}

.page_body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.main_header {

}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.main_header_navigation {
	background-color: var(--special-yellow);
	display: grid;
	height: 300px;
}
.main_header {
	display: grid;
}

.main_header_logo {
	order: 0;
	justify-self: start;
}

.main_header_logo:hover img {
	display: block;
	background: url("../img/logo/logo1.svg")no-repeat;
}

.nav_list1:first-child {
	color: rgba(0, 0, 0, 0.3);
}

.nav_list1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
  padding: 0;
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.nav_list1 a {
	color: var(--basic-black);
}

.searh {
	width: 12.47px;
	height: 47px;
	background: url("../img/icons/search.svg")no-repeat;
}

.nav_list2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
  padding: 0;
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--basic-black);
}

.slider_title {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 47px;line-height: 58px;
	color: var(--basic-black);
}

.slider_text {
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--basic-black);
}

.button {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	background-color: var(--special-yellow-dark);
	color: var(--basic-black);
}

.slider_spec1{
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.slider_spec2 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.popular_wrap {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	color: var(--basic-black);
}

.popular_item {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	column-gap: 40px;
}

.popular_item li {
	height: 160px;
	width: 160px;
	background: var(--special-yellow-light)
	url("../img/popular/popular-1.svg") 160px 160px no-repeat;
}

.services.delivery {
	width: 136px;
	height: 164px;
	background: var(--basic-grey-light);
}

.services.warranty {
	width: 171px;
	height: 195px;
	background: var(--basic-grey-light);
}

.services.credit {
	width: 156px;
	height: 188px;
	background: var(--basic-grey-light);
}

.services_title {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
	color: var(--basic-black);
}

.services_text {
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.brands li a:hover {
	background: url("../img/brands/logo-1_1.svg.svg");
}

.info_title {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
	color: var(--basic-black);
}

.info_text {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 0.2em;
	color: var(--basic-black);
}

.info_list {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 28px;
	color: var(--basic-black);
}

.adds_text {
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--basic-black);
}

.main-footer section ul {
	background: none;
	color: var(--basic-white);	
}

.main-footer .nav_list1 {
	color: var(--basic-white);	
}

.main-footer {
	background-color: var(--basic-dark);
}

/*Каталог*/

.product_filter {
	background-color: var(--basic-grey-light);
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: var(--basic-black);
}

.product_filter fieldset h3 {
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
}

.product_filter fieldset input{
	font-weight: normal;
}
.product_item {
	display: grid;
	grid-template-columns: 468px 1fr;
	 grid-column-start: 1;
	 grid-column-end: 2;
}

.product_item {
	display: grid;
	grid-template-columns: 1fr;
}

.product_name {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: var(--basic-black);
}

.product_price {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	color: var(--basic-black);
}

.button1 {
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.popular_title{
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	color: var(--basic-black);
}


.breadcrumbs {
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: var(--basic-black);
	opacity: 0.3;
}

.pagination button {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--basic-black);
	background-color: #EBEBEB;
}

.pagination {
	background-color: #EBEBEB;
}