@font-face {
font-family: Gilroy;
src: local("Gilroy Light")
 url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
font-family: Gilroy;
src: local("Gilroy Extra Bold")
url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
font-family: Open Sans;
src: local("Open Sans")
url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
font-family: Open Sans;
src: local("Open Sans Light")
url("../fonts/opensanslight.woff2") format("woff2");
}


:root {
	--basic-black: #000000;
	--special-yellow: #F7E296;
	--special-yellow-light: #F7E296;
	--special-yellow-dark: #F0C52E;
	--basic-dark: #363636;
	--basic-white: #FFFFFF;
	--basic-grey-light: #E5E5E5;

}

.page {
	height: 100%;
}

.page_body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.main_header_navigation {
	background-color: var(--special-yellow);
	display: grid;
	height: 300px;
}

.main_header {
	display: grid;
} 

.main_header_navigation .main_header_logo {
	width: 163px;
	height: 35px;
	display: block;
}

.main_header_navigation .main_header_logo {
	background: url("../img/logo/logo.svg");
}

.main_header_navigation .main_header_logo:hover {
	background: url("../img/logo/logo.svg");
	opacity: 50%;
}

.main_header_navigation .main_header_logo:active {
	background: url("../img/logo/logo.svg");
	opacity: 15%;
}

.navigation_user_list:first-child {
	color: rgba(0, 0, 0, 0.3);
}

.navigation_user_list li a {
	color: var(--basic-black);
}

.navigation_user_list li a:hover {
	opacity: 0.50;
}

.navigation_user_list li a:active {
	opacity: 0.15;
}

.navigation_user_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

/*.navigation_searh {
	width: 12.47px;
	height: 47px;
	background: url("../img/icons/search.svg")no-repeat;
}*/

.navigation_services_list li a {
	color: var(--basic-black);
}

.navigation_services_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.slider_h {
	display: none;
}

.slider_title {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 47px;line-height: 58px;
	color: var(--basic-black);
}

.slider_text {
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--basic-black);
}

.button {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	background-color: var(--special-yellow-dark);
	color: var(--basic-black);
}

.slider_termin{
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.slider_definition {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.popular_wrap {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	color: var(--basic-black);
}

.popular_item {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	column-gap: 40px;
}

.popular_item li {
	height: 160px;
	width: 160px;
	background: var(--special-yellow-light)
	url("../img/popular/popular-1.svg") 160px 160px no-repeat;
}

.services.delivery {
	/*width: 136px;
	height: 164px;
	url("../img/icons/delivery_2.svg") no-repeat;*/
}

.services.warranty {
	/*width: 171px;
	height: 195px;
	url("../img/icons/warranty_1.svg") no-repeat;*/
}

.services.credit {
	/*width: 156px;
	height: 188px;
	url("../img/icons/credit_1.svg") no-repeat;*/
}

.services {
	background: var(--basic-grey-light)
}

.services_title {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
	color: var(--basic-black);
}

.services_text {
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.brands {
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.brands_item {
	width: 260px;
	height: 100px;
}


.brands_item.dji li:hover {
	background: url("../img/brands/dji_target.png");
}

.brands_item.sp_gadgets li:hover {
	background: url("../img/brands/sp_gadgets_target.png");
}

.brands_item.go_pro li:hover {
	background: url("../img/brands/go_pro_target.png");
}

.brands_item.vive li:hover {
	background: url("../img/brands/vive_target.png");
}

/*li .brands_item.dji {
	background: url("../img/brands/dji.png");
	display: grid;
	grid-column: 1/2;
}

 li .brands_item.dji:hover {
 	grid-column: 1/2;
	background: url("../img/brands/dji_target.png");
}

li .brands_item.sp_gadgets {
	background: url("../img/brands/sp_gadgets.png");
	grid-column: 2/3;
}

 li .brands_item.sp_gadgets:hover {
	background: url("../img/brands/sp_gadgets_target.png");
	grid-column: 2/3;
}

li .brands_item.go_pro {
	background: url("../img/brands/go_pro.png");
	grid-column: 3/4;	
}

 li .brands_item.go_pro:hover {
	background: url("../img/brands/go_pro_target.png");
	grid-column: 3/4;	
}

li .brands_item.vive {
	background: url("../img/brands/vive.png");
	grid-column: 4/-1;	
}

 li .brands_item.vive:hover {
	background: url("../img/brands/vive_target.png");
	grid-column: 4/-1;	
}*/

.info_title {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
	color: var(--basic-black);
}

.info_text {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 0.2em;
	color: var(--basic-black);
}

.info_list {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 28px;
	color: var(--basic-black);
}

.address_text {
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--basic-black);
}

.main_footer section ul {
	background: none;
	color: var(--basic-white);	
}

.main_footer .nav_list1 {
	color: var(--basic-white);	
}

.main_footer {
	background-color: var(--basic-dark);
}

/*Каталог*/

.product_filter {
	background-color: var(--basic-grey-light);
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: var(--basic-black);
}

.product_filter fieldset h3 {
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
}

.product_filter fieldset input{
	font-weight: normal;
}
.filter_item {
	display: grid;
	grid-template-columns: 468px 1fr;
	 grid-column-start: 1;
	 grid-column-end: 2;
}

.item_catalog {
	display: grid;
	grid-template-columns: 1fr;
}

.product_name {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: var(--basic-black);
}

.product_price {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	color: var(--basic-black);
}

.button1 {
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.popular_title{
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	color: var(--basic-black);
}


.breadcrumbs {
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: var(--basic-black);
	opacity: 0.3;
}

.pagination button {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--basic-black);
	background-color: #EBEBEB;
}

.pagination {
	background-color: #EBEBEB;
}